@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

.app {
  font-family: 'Poppins', sans-serif;
}

.correct {
  background-color: #60BF88;
  color: white;
}

.incorrect {
  background-color: #EA8282;
  color: white;
}

.right {
  opacity: 100;
}

.wrong {
  display: inline-flex;
}